body {
 
 background-color: #6B8E23;
 color:white;
 font-family: 'Roboto', sans-serif;
}

.header img {
 margin: auto;
 width:50%;
 
}

.header {
 background-color: #6B8E23 ;
 margin:auto;
  width: 80%;
 color: white;
 font-size:20px;
 text-align: center;
 }
#startGame {
  background-color: white;
  border-radius: 30px;
  width:100px; 
  height:50px;
  font-size:25px;
  margin:auto;
  padding:10px;
  color:#6B8E23;
}
 #timer {
   text-align: center;
   background-color: #CD853F ;
   margin:auto;
   padding:10px;
   width: 80%;
   font-size: 30px:;
   font-style: bold;
   border-radius: 70px;
 }

#startTheGame {
margin: 0 auto;
background-color: #CD853F ;
border-radius: 40px;
text-align: center;
font-size: 30px;
width: 95%;
height:200px;
padding: 20px;
}

.grid {
  display:none;
  margin: 0 auto;
  width:800px;
  padding: 10px 50px 50px 50px;
  border-radius: 70px;
  border: 2px solid #cbcbcb;
  box-shadow: 0 10 15 5 #cbcbcb;

}
#results {
  display:none;
  margin: 0 auto;
  width:800px;
  padding: 10px 50px 50px 50px;
  border-radius: 70px;
  border: 2px solid #cbcbcb;
  box-shadow: 0 10 15 5 #cbcbcb;

}
#response {
  display:none;
  margin: 0 auto;
  width:800px;
  padding: 10px 50px 50px 50px;
  border-radius: 70px;
  border: 2px solid #cbcbcb;
  box-shadow: 0 10 15 5 #cbcbcb;
  font-size: 25px;
}
 #question{
  font-size: 30px;
  background-color: #6B8E23 ;
   margin:auto;
   height:100px;
   padding:20px;
   width: 100%;
}
.button {
  
  margin-top: 10px;
  
}

#btn0, #btn1, #btn2, #btn3 {
  background-color: #CD853F;
  width:200px;
  font-size: 30px;
  color: #fff;
  border: 1px solid #1d3c6a;
  border-radius: 50px;
  margin: auto;
  padding: 20px;
}

#btn0:hover, #btn1:hover, #btn2:hover, #btn3:hover {
  curser: pointer;
  background-color: #57636e;

  }
#btn0:focus, #btn1:focus, #btn2:focus, #btn3:focus {
  outline:0px;
  background-color: #57636e;
  
  }
#progress {
  color: white;
  font-size: 15px;
}


.footer{
   text-align: center;
   background-color: #CD853F ;
   margin:auto;
   height:100px;
   width: 100%;
   font-size: 20px:;
 }

  
    
 