body {
 
 background-color: #6B8E23;
 color:white;
 font-family: 'Roboto', sans-serif;
}

.header img {
 margin: auto;
 width:50%;
 
}

.header {
 background-color: #6B8E23 ;
   margin:auto;
  width: 100%;
      color: white;
 
 font-size:20px;
 text-align: center;
 }
#startTheGame button {
  width:100px; 
  height:50px;
  font-size:20px;
}
 #timer {
   text-align: center;
   background-color: #CD853F ;
   margin:auto;
   padding:10px;
   width: 80%;
   font-size: 30px:;
   font-style: bold;
   border-radius: 70px;
 }
.grid {
  visibility: hidden;
  width:700px;
  height:500px;
  margin: 0 auto;
  padding: 10px 50px 50px 50px;
  border-radius: 70px;
  border: 2px solid #cbcbcb;
  box-shadow: 0 10 15 5 #cbcbcb;

}
#startTheGame {
  background-color: #CD853F ;
  border-radius: 40px;
text-align: center;
font-size: 30px;

}
 #question{
  
  background-color: #6B8E23 ;
   margin:auto;
   height:100px;
   width: 100%;
}
.button {
  
  margin-top: 30px;
  
}

#btn0, #btn1, #btn2, #btn3 {
  background-color: #778897
  width:200px;
  font-size: 20px;
  color: #fff;
  border: 1px solid #1d3c6a;
  border-radius: 50px;
  margin: 10px 40px 10pc 0px;
  padding: 10px, 10px;
}

#btn0:hover, #btn1:hover, #btn2:hover, #btn3:hover {
  curser: pointer;
  background-color: #57636e;

  }
#btn0:focus, #btn1:focus, #btn2:focus, #btn3:focus {
  outline:0px;
  background-color: #57636e;
  
  }
#progress {
  color: #2b2b2b;
  font-size: 10px;
}


.footer{
   text-align: center;
   background-color: #CD853F ;
   margin:auto;
   height:100px;
   width: 100%;
   font-size: 20px:;
 }

  
    
 